@import url("../../../styles/var.css");

.content {
}

.items {

}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 10px;
}

.block {
    display: flex;
    align-items: center;
}

.columnInfo {
    display: grid;
    grid-template-columns: 15rem 7.5rem;
    align-items: center;
    gap: 10px;
}

.addButton {
    padding: 10px;
}